body {

}
h1{
  margin-top: 10%;
  text-align: center;
    font-family: "Cossette Titre", sans-serif;
}
p{
   font-family: "Roboto";
   text-align: center;
   
}
a{
    font-family: "Montserrat";
    text-decoration: none;
    padding: 45px;
    color: green;
    
}
span{
  color: green;
}
img{
  width: 50%;
 margin-left: 150px;
}
.about>h1{
      font-family: "Montserrat";
      text-align: center;
}

.about{
     font-family: "Montserrat";
      text-align: center;
}
.contact{
  font-family: "Montserrat";
}
input{
  margin-left: 170px;
  padding: 13px;
}
label{
  margin-left: 170px;
}
button{
   font-family: "Montserrat";
   padding: 5px;



   margin-left: 230px;
}
footer{
  text-align: center;
  margin-top: 30px;
  background-color: green;
  padding: px;
}